@model IEnumerable<ProyectoCRM.Models.VistaCasosTipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Casos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Casos)
            </td>

        </tr>
}
    </tbody>
</table>
