
*.cs
*.exe
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.dll
*.json
*.editorconfig
*.txt
.vs/ProyectoCRM/v17/.suo
*.vsidx
*.lock
*.v2
*.1
*.config
*.pdb
*.css
*.props
*.sentinel
*.targets
*.user
