@model IEnumerable<ProyectoCRM.Models.VistaTareasActividadesCot>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCotizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCotizacion)
                </th>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
}
    </tbody>
</table>
