@model IEnumerable<ProyectoCRM.Models.VistaVentaZona>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte</h1>

<div id="chart_div">
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zona)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Venta)
            </td>

        </tr>
}
    </tbody>
</table>

@*se indican el titulo, las dimensiones y las columnas que tendrá el grafico*@
<script>
    title = 'Ventas por zona';
    width = 600;
    height = 600;
    columns.push(["string", "Zona"]);
    columns.push(["number", "Venta"]);
    google.charts.setOnLoadCallback(pieChart); // circular
        //google.charts.setOnLoadCallback(BarChart); // barra
</script>