@model IEnumerable<ProyectoCRM.Models.VistaVentaZona>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zona)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Venta)
            </td>

        </tr>
}
    </tbody>
</table>
