@model IEnumerable<ProyectoCRM.Models.ContactosXusuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Cantidad de contactos por usuarios</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDeContactos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeContactos)
            </td>
        </tr>
}
    </tbody>
</table>
