@model IEnumerable<ProyectoCRM.Models.TopVentasVendedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Top 10 vendedores con mayores ventas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentaTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentaTotal)
            </td>
        </tr>
}
    </tbody>
</table>
