@model IEnumerable<ProyectoCRM.Models2.Cliente>

@{
    ViewData["Title"] = "Index1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoCRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href=" bootstrap.bundle.min.js / bootstrap.bundle.js" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoCRM.styles.css" asp-append-version="true" />
</head>

<h1>Reportes de clientes</h1>





<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Consultas
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item " asp-area="" asp-controller="TopVentasClientes" asp-action="index">Top 10 clientes con mayores ventas</a>  
        <a class="dropdown-item " asp-area="" asp-controller="ClientesXzonas" asp-action="index"> Cantidad de clientes por zona y monto ventas por zona. Zona, cantidad y monto</a>  
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


